﻿@model STLFoodTruckFaves.ViewModels.FoodTruck.FoodTruckEditViewModel

@{
    ViewData["Title"] = "EditFoodTruck";
}

<h2 style="color:darkslateblue">Edit Food Truck</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditFoodTruck">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" value="EditFoodTruck" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
