﻿@model STLFoodTruckFaves.ViewModels.FoodTruck.FoodTruckDetailsViewModel
@{ 
    ViewData["Title"] = "Food Truck Details";
}

@*<h2 style="color:darkslateblue"> Food Truck Details</h2>*@
<h2>@Model.Name</h2>

<div class="row">
    <div class="col-md-4">
        @Model.Description
    </div>
</div>
