﻿
@model List<STLFoodTruckFaves.ViewModels.FoodTruck.FoodTruckListViewModel>

@{ 
    ViewData["Title"] = "Food Trucks";

}

<p>
    <a asp-action="CreateFoodTruck">Add a Food Truck</a>
    
</p>
<h2 style="color:darkslateblue">Food Trucks</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type of Food</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var foodTruck in Model)
        {
        <tr>
            <td>
                <div class="foodTruckIndexName">
                    @Html.DisplayFor(modelItem => foodTruck.Name)
                 </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => foodTruck.Description)
            </td>
            <td>
                <a asp-action="FoodTruckDetails" asp-route-id="@foodTruck.ID">Details</a>
            </td>
            <td>

                <a asp-action="EditFoodTruck" asp-route-id="@foodTruck.ID">Edit</a>
            </td>
            <td>|</td>
            
            <td>

                <a asp-action="DeleteFoodTruck" asp-route-id="@foodTruck.ID">Delete</a>
            </td>
        </tr>
            

        }
    </tbody>
   
</table>

